{% extends "template.html.twig" %} {% block title %}Burger dev {% endblock %} {%
block content %}

<main>
  {# ---------- Hero section ---------- #}

  <section id="hero-section">
    <img
      src="{{ asset('/img/walesca/IMG_2989-removebg-preview.png') }}"
      alt="Walesca"
      id="item-right-hero"
    />
    <div id="container-hero-section" class="row-limit-size">
      <div id="item-left-hero">
        <span>Recettes Burger</span>
        <h1>tasty & creamy</h1>
        <p>
          Delicious burgers made from high-quality Australian beef, carefully
          processed to create a juicy and flavorful taste.
        </p>
        <a href="#" id="btn-show-recipe"
          ><img src="{{ asset('./img/picto/bag-2.svg') }}" alt="Sac" />voir les
          recettes</a
        >
      </div>
      <figcaption id="item-right-hero">
        <img src="{{ asset('/img/burger-mobile.png') }}" alt="Burger" />
      </figcaption>
    </div>
  </section>

  {# ---------- Last-recipe section ---------- #}

  <section id="last-recipe-section">
    <h2 id="title-last-recipe-section">Dernières recettes bugers</h2>
    <div id="container-card-last-recipe" class="row-limit-size">
      {% for recipe in recipes %}
      <a href="{{ path('baseRecipe') }}{{ recipe.recipeId }}">
        <div id="card-last-recipe">
          <figcaption>
            <img src="{{ asset('/img/picto/pict-burger.svg') }}" alt="burger" />
          </figcaption>
          <div class="description-card">
            <h3 id="title-description-card">{{ recipe.name }}</h3>
            <p>
              {{ recipe.description }}
            </p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>

  {# ---------- share-recipe section ---------- #}

  <section id="share-recipe-section">
    <div id="container-card-share-recipe" class="row-limit-size">
      <figcaption>
        <img src="{{ asset('/img/picto/burger-img.png') }}" alt="Restaurant" />
      </figcaption>
      <div id="share-recipe-descrption">
        <h4>
          Créer vos <br />
          propres <br />
          burgers
        </h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quos sunt,
          atque corrupti consequatur ut velit, nemo natus vero odio rerum rem!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam,
          natus?
        </p>
        <div id="counter-recipe">
          <div id="item-left-counter" class="counter-recipe-comon">
            <span class="count">220+</span>
            <span class="type">Recettes</span>
          </div>
          <div id="item-middle-counter" class="counter-recipe-comon">
            <span class="count">45+</span>
            <span class="type">Années</span>
          </div>
          <div id="item-right-counter" class="counter-recipe-comon">
            <span class="count">20</span>
            <span class="type">Menus</span>
          </div>
        </div>
      </div>
    </div>
    <a href="#" id="btn-show-recipe">Proposer une recette</a>
  </section>

  {# ---------- category section ---------- #}

  <section id="category-section">
    <div id="container-category-section" class="row-limit-size">
      <figcaption><p>Lorem ipsum</p></figcaption>
      <figcaption><p>Lorem ipsum</p></figcaption>
      <figcaption><p>Lorem ipsum</p></figcaption>
      <figcaption><p>Lorem ipsum</p></figcaption>
      <figcaption><p>Lorem ipsum</p></figcaption>
    </div>
  </section>

  {# ---------- top-menu section ---------- #}

  <section id="top-menu-section">
    <h5 class="title-section-top-menu">top cheffe!!</h5>
    <div id="container-card-top-menu-section" class="row-limit-size">
      <div class="card-slide-top-menu">
        <figcaption>
          <img src="{{ asset('/img/walesca/WaNom.png') }}" alt="burger" />
        </figcaption>
        <div class="description-card-slide">
          <span class="title-card-slide">Walesca</span>
          <p>
            Elle partage tout ! Même un peu trop des fois en cours... 
          </p>
          <a href="#">Voir le menu</a>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %} 

