{% extends "template.html.twig" %}

{% block title %}Your Search Results
{% endblock %}


{% block content %}

<section>
<h2>Search Results</h2>
			<ul>
				{% for recipe in recipes %}
					<div id="recipe-card">
						<li>
							<a href="{{path('baseRecipe')}}{{ recipe.recipeId }}">{{ recipe.name }}</a>
						</li>
						<li>
							<p>{{ recipe.duration }}</p>
						</li>
					</div>
				{% endfor %}
			</ul>

		{% if message %}<p>{{ message }}</p>{% endif %}	

		</section>
{% endblock %}